## HSS Parameters
hss:
  transport: "TCP"
  #IP Addresses to bind on (List) - For TCP only the first IP is used, for SCTP all used for Transport (Multihomed).
  bind_ip: ["10.0.1.252"]

  #Port to listen on (Same for TCP & SCTP)
  bind_port: 3868

  #Value to populate as the OriginHost in Diameter responses
  OriginHost: "hss"

  #Value to populate as the OriginRealm in Diameter responses
  OriginRealm: "mnc001.mcc001.3gppnetwork.org"

  #Value to populate as the Product name in Diameter responses
  ProductName: "pyHSS"

  #Your Home Mobile Country Code (Used for PLMN calcluation)
  MCC: "313"
  #Your Home Mobile Network Code (Used for PLMN calcluation)
  MNC: "380"

  #Enable GMLC / SLh Interface
  SLh_enabled: True

  #IMSI of Test Subscriber for Unit Checks (Optional)
  test_sub_imsi: '208310001859912'

  #Workaround for some MMEs to force an Insert Subscriber Data request to be sent immediately after ULA
  Insert_Subscriber_Data_Force: True

  #Default Initial Filter Criteria for IMS Subscribers
  #Jinja Formatted Template, see the example for variables passed to it.
  Default_iFC: 'default_ifc.xml'
  
logging:
  level: DEBUG
  logfiles:
    hss_logging_file: log/hss.log
    diameter_logging_file: log/diameter.log
    database_logging_file: log/db.log
  log_to_terminal: true

## Database Parameters
#Multiple database types are supported, and additional database can be added easily.
#See ``databases.md`` for information on connecting to your database of choice, with your preferred schema.
database:
  mongodb:
    mongodb_server: 127.0.0.1
    mongodb_username: root
    mongodb_password: password
    mongodb_port: 27017
  # mssql:
  #   server: 10.22.7.20
  #   Database: hlrdb_20210210
  #   Login: appuser
  #   Password: LON$#%2021
  # mysql:
  #   server: 127.0.0.1
  #   username: newuser
  #   password: password
  #   database: hss


## Stats Parameters
redis:
  enabled: True
  clear_stats_on_boot: False
  host: localhost
  port: 6379


snmp:
  port: 1161
  listen_address: 127.0.0.1
