alchemyjsonschema==0.7.1
construct==2.10.68
Flask==2.2.2
flask_restx==1.0.6
grequests==0.6.0
Jinja2==3.0.1
mongo==0.2.0
prometheus_client==0.14.1
pycryptodome==3.17
pymongo==4.3.3
pysctp==0.7.2
pysnmp==4.4.12
PyYAML==6.0
redis==4.5.4
requests==2.25.1
SQLAlchemy==1.4.29
sqlalchemy_utils==0.40.0
Werkzeug==2.2.2
mysqlclient