construct==2.10.68
Flask==2.2.3
flask_restx==1.1.0
Jinja2==3.1.2
mongo==0.2.0
prometheus_client==0.16.0
pycryptodome==3.17
pymongo==4.3.3
pysctp==0.7.2
pysnmp==4.4.12
PyYAML==6.0
redis==4.5.4
Requests==2.28.2
SQLAlchemy==2.0.9
sqlalchemy_utils
systemd-python==234
Werkzeug==2.2.3
mysqlclient
prometheus_flask_exporter