# Handling of receiving and sending of diameter messages, and diameter client
# connection state.
[Unit]
Description=PyHSS Diameter Service
PartOf=pyhss.service
Requires=pyhss_hss.service
After=pyhss_hss.service

[Service]
Environment="PYTHONUNBUFFERED=1"
Environment="PYHSS_LOG_STDOUT_NO_TIMESTAMP=1"
User=root
WorkingDirectory=/etc/pyhss/services/
ExecStart=python3 diameterService.py
Restart=always

[Install]
WantedBy=pyhss.service
