[Unit]
Description=PyHSS HSS Service
PartOf=pyhss.service


[Service]
User=root
WorkingDirectory=/etc/pyhss/services/
ExecStart=python3 gsupService.py
Restart=always

[Install]
WantedBy=pyhss.service