[Unit]
Description=PyHSS HSS Service
PartOf=pyhss.service


[Service]
Environment="PYTHONUNBUFFERED=1"
User=root
WorkingDirectory=/etc/pyhss/services/
ExecStart=python3 hssService.py
Restart=always

[Install]
WantedBy=pyhss.service
