name: Debian package

on:
  push:
    branches: [ "master" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: jtdor/build-deb-action@v1
      env:
        DEB_BUILD_OPTIONS: noautodbgsym
      with:
        buildpackage-opts: --build=binary --no-sign

    - name: Archive build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: debian-package
        path: "debian/artifacts/*.deb"

  release:
    name: Upload Debian package to GitHub Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
      - uses: actions/checkout@v3
      - name: Debug GitHub context
        run: |
          echo "repository=${{ github.repository }}"
          echo "actor=${{ github.actor }}"
          echo "ref=${{ github.ref }}"
      - name: Download Debian package artifact
        uses: actions/download-artifact@v4
        with:
          name: debian-package
          path: debian/artifacts
      - name: Upload .deb to GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          artifacts: debian/artifacts/*.deb
          bodyFile: 'CHANGELOG.md'
          token: '${{ secrets.GITHUB_TOKEN }}'
